body {
  margin: 0;
  font-family: 'Roboto', sans-serif; /* A modern, readable font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #f6f3f3, #ffffff); /* Subtle background gradient */
  color: #b9b9b9; /* Darker text for better contrast */
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full viewport height */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1, h2, h3 {
  color: #5f5d5d;
  font-weight: 600;
}

button {
  background: grey;
  border: none;

  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

button:hover {
  background-color: #1e1b1b; /* Darker green on hover */
}
